Utilice los siguientes links para cargar en un mismo cuaderno de Jupyter los siguientes datos:

In [ ]:
import pandas as pd


CSV: https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-08-07/felicidad.csv

XML: https://www.w3schools.com/xml/cd_catalog.xml

Excel: https://github.com/wantaprender-tech/Curso-Bigdata-Python/raw/refs/heads/main/Semana%20No.%201/base%20de%20datos%20excel%20tarea%20sem1.xlsx

In [ ]:
url_csv="https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-08-07/felicidad.csv" #Agregando url a variable

In [ ]:
url_xml="https://www.w3schools.com/xml/cd_catalog.xml" #Agregando url a variable

In [ ]:
url_xls="https://github.com/wantaprender-tech/Curso-Bigdata-Python/raw/refs/heads/main/Semana%20No.%201/base%20de%20datos%20excel%20tarea%20sem1.xlsx" #Agregando url a variable

Debe de cargarlos en tres diferentes dataframes y será necesario que haga los siguientes análisis:

Muestre el encabezado de los primeros 6 registros
Muestre la información del archivo
Muestre el tamaño del archivo (filas y columnas)
Para los archivos independientes:

In [ ]:
df_csv=pd.read_csv(url_csv) #Cargando CSV en dataframe

In [ ]:
df_xml=pd.read_xml(url_xml) #Cargando XML en dataframe

In [ ]:
df_xls=pd.read_excel(url_xls)# Cargando XLS en dataframe


**CSV:**

-Cuantos países diferentes hay en la db

-Muestre por año la media de corrupción.

-Muestre por país, la expectativa de vida

In [ ]:
df_csv.head() #Para ver el head

#df_csv.columns o se puede usar.columns solo para ver el nombre de las columnas

,pais,anio,escalera_vida,log_pib,soporte_social,expectativa_vida,libertad,generosidad,percepcion_corrupcion,afecto_positivo,afecto_negativo,confianza,calidad_democracia,calidad_entrega,de_escalera_pais_anio,gini_banco_mundial,gini_banco_mundial_promedio
0,Afghanistán,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,NaN,NaN
1,Afghanistán,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,NaN,NaN
2,Afghanistán,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,NaN,NaN
3,Afghanistán,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,NaN,NaN
4,Afghanistán,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,NaN,NaN

In [ ]:
df_csv['pais'].value_counts() #Paises diferentes en la db

pais
Nigeria       24
Azerbaijan    13
Armenia       13
Bangladesh    13
Chile         13
              ..
Swaziland      2
Cuba           1
Guyana         1
Oman           1
Surinam        1
Name: count, Length: 164, dtype: int64

In [ ]:
df_csv.groupby('anio')['percepcion_corrupcion'].mean()

anio
2005    0.715875
2006    0.755737
2007    0.792069
2008    0.764120
2009    0.763371
2010    0.757199
2011    0.755170
2012    0.757945
2013    0.763475
2014    0.738347
2015    0.736524
2016    0.746677
2017    0.729197
2018    0.731744
Name: percepcion_corrupcion, dtype: float64

In [ ]:
df_csv[['pais','expectativa_vida']] #pais y expectativa de vida

             pais  expectativa_vida
0     Afghanistán         50.799999
1     Afghanistán         51.200001
2     Afghanistán         51.599998
3     Afghanistán         51.919998
4     Afghanistán         52.240002
...           ...               ...
1699     Zimbabue         52.380001
1700     Zimbabue         53.799999
1701     Zimbabue         54.400002
1702     Zimbabue         55.000000
1703     Zimbabue         55.599998

[1704 rows x 2 columns]

**XML:**

Filtre los discos para que muestre aquellos que esten entre el año 1990 y 1997

Muestre con la función iloc cual es el disco más viejo y el más reciente.

In [ ]:
df_xml[(df_xml['YEAR']>=1990) & (df_xml['YEAR']<= 1997)]

,TITLE,ARTIST,COUNTRY,COMPANY,PRICE,YEAR
3,Still got the blues,Gary Moore,UK,Virgin records,10.2,1990
4,Eros,Eros Ramazzotti,EU,BMG,9.9,1997
7,Maggie May,Rod Stewart,UK,Pickwick,8.5,1990
8,Romanza,Andrea Bocelli,EU,Polydor,10.8,1996
10,Black angel,Savage Rose,EU,Mega,10.9,1995
12,For the good times,Kenny Rogers,UK,Mucik Master,8.7,1995
13,Big Willie style,Will Smith,USA,Columbia,9.9,1997
15,Soulsville,Jorn Hoel,Norway,WEA,7.9,1996
16,The very best of,Cat Stevens,UK,Island,8.9,1990
21,Pavarotti Gala Concert,Luciano Pavarotti,UK,DECCA,9.9,1991

In [ ]:
#Funcion iloc

#iloc[0] -> mas antiguo
#iloc[-1] -> mas reciente

df_ordenado=df_xml.sort_values('YEAR')

disco_mas_viejo = df_ordenado.iloc[0]
disco_mas_reciente= df_ordenado.iloc[-1]

print("*** Disco mas viejo: ***\n", disco_mas_viejo)
print("\n")
print("*** Disco mas reciente: ***\n", disco_mas_reciente)

*** Disco mas viejo: ***
 TITLE      The dock of the bay
ARTIST            Otis Redding
COUNTRY                    USA
COMPANY           Stax Records
PRICE                      7.9
YEAR                      1968
Name: 22, dtype: object


*** Disco mas reciente: ***
 TITLE      1999 Grammy Nominees
ARTIST                     Many
COUNTRY                     USA
COMPANY                  Grammy
PRICE                      10.2
YEAR                       1999
Name: 11, dtype: object

**Excel:**

Indique si hay columnas que borrar (cuales son?)

Realice una copia de su dataframe y en este deje solo los datos que considere necesarios

Muestre el total de ventas por vendedor

Muestre la categoría que más vende y la que menos vende

In [ ]:
df_xls.head()

# Quitar columnas que no se ocuparan: Id de Empleado, Id de Producto, Id de Cliente, Id de Pedido, Fecha de pedido

,Empleado,Nombre del cliente,Ventas,Id de empleado,Id de producto,Id de cliente,Año,Mes,Producto,Cliente,Id de pedido,Fecha de pedido,Nombre del producto,Estado o provincia,País o región,Categoría
0,Francisco Chaves,Compañía AA,1400.0,9,34,27,2016,11,Cerveza Northwind Traders,Compañía AA,30,42696,Cerveza Northwind Traders,Madrid,España,Bebidas
1,Francisco Chaves,Compañía AA,105.0,9,80,27,2016,2,Ciruelas pasas Northwind Traders,Compañía AA,30,42417,Ciruelas pasas Northwind Traders,NV,Estados Unidos,Frutos secos
2,Luis Bonifaz,Compañía D,300.0,3,7,4,2016,10,Peras secas Northwind Traders,Compañía D,31,42647,Peras secas Northwind Traders,NY,Estados Unidos,Frutos secos
3,Luis Bonifaz,Compañía D,530.0,3,51,4,2016,7,Manzanas secas Northwind Traders,Compañía D,31,42577,Manzanas secas Northwind Traders,NY,Estados Unidos,Frutos secos
4,Luis Bonifaz,Compañía D,35.0,3,80,4,2016,1,Ciruelas pasas Northwind Traders,Compañía D,31,42377,Ciruelas pasas Northwind Traders,NY,Estados Unidos,Frutos secos

In [ ]:
#Borrar columnas
df_xls=df_xls.drop(columns=['Id de empleado','Id de producto','Id de cliente','Id de pedido','Fecha de pedido'])

In [ ]:
#Copia de dataframe con datos necesarios
df_xls_bk =df_xls.copy()

In [ ]:
df_xls_bk.head() #Verificando que solo tenga las columnas necesarias

,Empleado,Nombre del cliente,Ventas,Año,Mes,Producto,Cliente,Nombre del producto,Estado o provincia,País o región,Categoría
0,Francisco Chaves,Compañía AA,1400.0,2016,11,Cerveza Northwind Traders,Compañía AA,Cerveza Northwind Traders,Madrid,España,Bebidas
1,Francisco Chaves,Compañía AA,105.0,2016,2,Ciruelas pasas Northwind Traders,Compañía AA,Ciruelas pasas Northwind Traders,NV,Estados Unidos,Frutos secos
2,Luis Bonifaz,Compañía D,300.0,2016,10,Peras secas Northwind Traders,Compañía D,Peras secas Northwind Traders,NY,Estados Unidos,Frutos secos
3,Luis Bonifaz,Compañía D,530.0,2016,7,Manzanas secas Northwind Traders,Compañía D,Manzanas secas Northwind Traders,NY,Estados Unidos,Frutos secos
4,Luis Bonifaz,Compañía D,35.0,2016,1,Ciruelas pasas Northwind Traders,Compañía D,Ciruelas pasas Northwind Traders,NY,Estados Unidos,Frutos secos

In [ ]:
df_xls.groupby('Empleado')['Ventas'].sum() #Total de ventas por Vendedor

Empleado
Francisco Chaves         1658151.75
Humberto Acevedo          731728.50
Jesús Escolar             366450.00
Juan Carlos Rivas         892920.00
Luis Bonifaz              234021.00
María González            918540.00
María Jesús Cuesta        878920.00
Pilar Pinilla Gallego    1608053.75
Name: Ventas, dtype: float64

In [ ]:
#Categoria que mas vende y que menos vende

ventas_categorias=df_xls.groupby('Categoría')['Ventas'].sum() #Sumar ventas por categorias

print("Categoria que mas vende: ",ventas_categorias.idxmax()) #la que mas vende
print("\n")
print("Categoria que menos vende: ", ventas_categorias.idxmin()) #la que menos vende

Categoria que mas vende:  Bebidas


Categoria que menos vende:  Granos